.p {
  width: 45%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid grey;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: grey;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: #fff;
}

.p-desc {
  text-align: center;
}

.p-text {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  height: 12vh;
}

.p-t-t {
  width: 80%;
  margin-left: 5px;
}

.p-text p {
  margin: 0;
  font-size: 16px;
}

.p-text h2 {
  margin: 0;
}

.p-text a {
  width: 30%;
}

#repo-link {
  font-style: italic;
  font-size: 20px;
  color: #fff;
}

#repo-link:hover {
  color: #90ee90;
}

#repo-light {
  font-style: italic;
  font-size: 20px;
  color: #000;
}

#repo-light:hover {
  background-color: #90ee90;
}

.p-img {
  width: 100%;
  transition: all 12s ease;
}

.p a:hover .p-img {
  transform: translateY(-80%);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .p {
    width: 80%;
    height: 40vh;
  }

  .p-text {
    display: none;
  }
}

@media screen and (min-width:1400px )
{ .p {
  width: 30%;
}
  
}